<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log(response);
    if (response.status === 'connected') {
      $('.loginPopUp').hide();
      $('.popupbg').hide();
      showElements();
    } else if (response.status === 'not_authorized') {
      console.log('no acepto');
      showLogPopUp();
    } else {
      console.log('ni fb ni acepto');
      showLogPopUp();
    }
  }
  function showLogPopUp(){
    $('.loginPopUp').show();
    $('.popupbg').show();
  }
  function showElements(){
    FB.api('/me', function(response) {
      console.log(response);
      console.log('Successful login for: ' + response.name);
       var imgUrl = "https://graph.facebook.com/"+response.id+"/picture";
       document.getElementById("userImg").src= imgUrl;
    });
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  $(document).ready(function(){
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '295528663973830',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
      });
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    };
  });

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<ul class="nav nav-pills pull-right">
  <li class="active"><a ng-href="#">Partidos</a></li>
  <li><a ng-href="#/about">Tabla</a></li>
  <li><a ng-href="#">Perfil</a></li>
  <li><a ng-href="#"><img id="userImg"></a></li>
</ul>
<h3 class="text-muted">¿Como Quedan?</h3>