<div class="listaPartidos">
  <h1>Partidos de la siguiente jornada</h1>
  <div>
    <ul>
      <li class="match">
        <div class="date"><span>9 Dic '13<br>8:00 PM</span></div><div class="team home"><div class="name">Alajuelense</div><div class="banner"><img src="images/lda.png"></div><div class="score"><input type="text" min="0" max="99" value="2"></div></div><div class="vs"> vs </div><div class="team away"><div class="score"><input type="text" min="0" max="99" value="0"></div><div class="banner"><img src="images/sap.png"></div><div class="name">Saprissa</div></div><div class="status-text">4</div><div class="status"></div>
      </li>
      <li class="match">
        <div class="date">9 Dic '13<br>8:00 PM</div><div class="team home"><div class="name">Herediano</div><div class="banner"><img src="images/csh.png"></div><div class="score"><input type="text" min="0" max="99" value="2"></div></div><div class="vs"> vs </div><div class="team away"><div class="score"><input type="text" min="0" max="99" value="0"></div><div class="banner"><img src="images/car.png"></div><div class="name">Cartagines</div></div><div class="status-text">4</div><div class="status"></div>
      </li>
    </ul>
  </div>
  <button>Guardar</button>
</div>
<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>{{awesomeThings[0]}}</p>
</div>
-->