/* Variables mod, please use this variables every time you can */


/* font family */

$font-stack: Helvetica, sans-serif;


/* z-index 1-10 */

$index1: 10;
$index2: 20;
$index3: 30;
$index4: 40;
$index5: 50;
$index6: 60;
$index7: 70;
$index8: 80;
$index9: 90;

/* color pallete */

$blue : #27556C;
$green : #297C45;
$crema : #749D34;

/* img path */

$img : "/imges/"


