<div class="listaPartidos">
  <h1>Partidos de la siguiente jornada</h1>
  <div>
    <ul>
      <li>
        <input type="text"><img src=""><p>Liga Deportiva Alajuelense  VS  Deportivo Saprissa</p><img src=""><input type="text">
      </li>
      <li>
        <input type="text"><img src=""><p>Club Sport Herediano  VS  Club Sport Cartagines</p><img src=""><input type="text">
      </li>
      <li>
        <input type="text"><img src=""><p>Uruguay de Coronado  VS  Carmen</p><img src=""><input type="text">
      </li>
    </ul>
  </div>
  <button>Guardar</button>
</div>
<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>{{awesomeThings[0]}}</p>
</div>
-->